* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image {
  width: 100%;
  object-fit: cover;
}

.image-container {
  width: 95%;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.crew-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70vw;
}

.card-container {
  display: flex;
  width: 25%;
}

.margin {
  margin: 100px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70vw;
  padding: 70px;
}

.designation {
  writing-mode: vertical-rl;
  width: 10%;
  font-size: 18px;
}

.small-text {
  font-size: 12px;
}

.name {
  font-size: 18px;
}

.left-header {
  font-size: 16px;
  width: 30%;
  text-align: center;
}

.right-header {
  font-size: 14px;
  width: 30%;
}

@media only screen and (max-width: 1200px) {
  .card-container {
    display: flex;
    width: 40%;
  }

  .image-container {
    width: 95%;
  }

  .name {
    font-size: 16px;
  }

  .designation {
    writing-mode: vertical-rl;
    width: 10%;
    font-size: 14px;
  }

  .left-header {
    margin-bottom: 25px;
    width: 50%;
    text-align: start;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .margin {
    margin: 0px;
  }

  #art-director {
    margin-top: 100px;
    margin-left: 50px;
  }
  #developer {
    margin-top: 100px;
    margin-left: 50px;
  }
  #designer {
    margin-top: 100px;
    margin-left: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .card-container {
    display: flex;
    width: 60%;
    justify-content: space-between;
  }

  .image-container {
    width: 95%;
  }

  .name {
    font-size: 14px;
  }

  .designation {
    writing-mode: vertical-rl;
    width: 10%;
    font-size: 12px;
  }

  .left-header {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .right-header {
    font-size: 12px;
  }

  .margin {
    margin: 0px;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px;
  }

  #art-director {
    margin-top: 0px;
    margin-left: 0px;
  }
  #developer {
    margin-top: 0px;
    margin-left: 0px;
  }
  #designer {
    margin-top: 0px;
    margin-left: 0px;
  }
}
